body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Bangers", "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1,
h2,
h3 {
  text-align: center;
  padding: 10px;
}

ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: space-between;
  justify-content: center;
  margin: 0 auto;
  max-width: 1200px;
  padding: 20px;
}
li {
  padding: 20px;
}
li > h3,
p {
  text-align: center;
}
li > button {
  text-align: center;
  border-radius: 10px;
}

form {
  text-align: center;
  padding: 40px;
}
.form-data {
  padding: 10px;
}
.create {
  margin: 20px;
}
